<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<!-- remove any machine-wide sources with <clear/> -->
		<!--<clear />-->
		<!-- add a Team Services feed -->
		<add key="BlazorNuget" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/mobileblazorbindings-nightly/nuget/v3/index.json" />
		<!-- also get packages from the NuGet Gallery -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>