@using NPComplet.YourDeals.Server.Infrastructure.RazorHtmlEmails.Views.Emails
@using NPComplet.YourDeals.Server.Infrastructure.RazorHtmlEmails.Views.Emails.ConfirmAccount
@using NPComplet.YourDeals.Server.Infrastructure.RazorHtmlEmails.Views.Emails.ForgetPassword;

@model NPComplet.YourDeals.Server.Infrastructure.RazorHtmlEmails.Views.Emails.ForgetPassword.ForgetPasswordEmailViewModel

@{
	Layout = "~/Views/Emails/Layout/EmailLayout.cshtml";
}

@{ ViewData["EmailTitle"] = Model.Welcome;
}

<p>
    @Model.MsgBody
</p>

<br />
@await Html.PartialAsync("~/Views/Emails/ForgetPassword/ForgetPasswordEmailTemplate.cshtml", new EmailButtonViewModel(Model.ID, Model.EmailUrlMessage, Model.EmailUrl))
@*@await Html.PartialAsync("~/Views/Emails/EmailButton.cshtml", new EmailButtonViewModel(Model.ID, Model.EmailUrlMessage , Model.EmailUrl))
*@
<br />

<p>
    @Model.AssistantMessage
</p>

<br />

<p>
    RightNDeals Team
</p>