@*@model NPComplet.YourDeals.Server.Infrastructure.RazorHtmlEmails.Views.Emails.ForgetPassword.ForgetPasswordEmailViewModel*@
@using NPComplet.YourDeals.Server.Infrastructure.RazorHtmlEmails.Views.Emails
@using NPComplet.YourDeals.Server.Infrastructure.RazorHtmlEmails.Views.Emails.ConfirmAccount
@model NPComplet.YourDeals.Server.Infrastructure.RazorHtmlEmails.Views.Emails.EmailButtonViewModel

<a> Hello
</a>
<p>Below Is Password Reset Link</p>
@*<p>Please <a href="https://localhost:44317/Confirmation/@Model.Text" target="_blank">Click Here</a> To Verify Your Identity</p>*@
<p><a href="@Model.Url"> Please Click Here To Change Your Password</a>

@*<a href="@Model?.Url"> @Model?.Text
</a>*@
