@page "/payments"
@inject IStringLocalizer<Translation> _stringLocalizer
@layout NewLayout
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="/">@_stringLocalizer["Home"]</a></li>
                <li>@_stringLocalizer["Finance"]</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="section-full text-center aon-our-team bg-white content-inner">
        <div class="container">
            <div class="section-head text-center text-black">
                <h2 class="text-uppercase">@_stringLocalizer["User Payments"]</h2>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dlab-tabs border bg-tabs">
                      

                        <RadzenTabs style="height: 880px" RenderMode="TabRenderMode.Server">
                            <Tabs>
                                <RadzenTabsItem Text="@_stringLocalizer["Deals Payments"]">
                                    <NPComplet.YourDeals.Client.Shared.WebUI.Pages.Finance.FinanceOpreations.Payments.PaymentsTransactions />
                                </RadzenTabsItem>

                            </Tabs>
                        </RadzenTabs>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        @code {

                        }
