<?xml version="1.0" encoding="utf-8"?>

<log4net>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value=".\\Log4net\NPComplet.YourDeals.Server.Api.Blazor.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="1000" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="false" />
		
		<layout type="log4net.Layout.PatternLayout">
			<IgnoresException value="False" />
			<conversionPattern value="%date [%thread] %level %logger - %message%newline%exception" />
		</layout>
	</appender>
	<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
		<connectionType value="System.Data.SqlClient.SqlConnection,System.Data.SqlClient,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
		<connectionString value="Data Source=.\\MSSQLSERVER2019;Initial Catalog=rightnde_uat_database_dev;Persist Security Info=True;User ID=rightnde_sa_dev;Password=U7&amp;62cno" />
		
		<commandText value="INSERT INTO [MONITORING].[Log] ([Id],[Date],[Thread],[Level],[Logger],[Message],[Exception],[InternalCreationDateTimeUtc],[InternalModificationDateTimeUtc]) VALUES (newid(),@log_date, @thread, @log_level, @logger, @message, @exception,getdate(),getdate())" />
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="ERROR"/>
		</evaluator>
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
		
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
		
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
	
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
		
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
	</appender>
	<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
		<to value="mouadh.jaber@msn.com,amr.elsherif83@outlook.com,arijjijij@gmail.com,firasjaberc@gmail.com,wael_jm@hotmail.fr,
			contact@omarwasfi.com,herbzone127@hotmail.com,alaminmain@outlook.com,hwkibs@gmail.com,danishminhas756@gmail.com,munirhussaindev0@gmail.com,omaraiyaar@gmail.com,alaminmain@outlook.com,omaraiyaar@outlook.com,herbzone127@hotmail.com,tnazmy@egysystems.com,awaissafdar9111@gmail.com" />
		<subject value="[RightnDeals][Important Application Message] some issues , please check" />
		<smtpHost value="relay.mailbaby.net"/>
		<authentication value="Basic" />
		<from value="contact-norp@rightndeals.com"/>
		<port value="587"/>
		<username value="mb21100"/>
		<password value="4zPd6NzXrR3Bm94GAcPa"/>
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="ERROR"/>
		</evaluator>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<IgnoresException value="False" />
			<conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline: %exception" />
		</layout>
	</appender>
	<root>
		<level value="WARN" />
		<appender-ref ref="RollingFileAppender" />
		<appender-ref ref="AdoNetAppender" />
		<appender-ref ref="SmtpAppender" />
	</root>
</log4net>