<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<httpErrors errorMode="Detailed" />
			<security>
				<requestFiltering allowDoubleEscaping="true">
					<requestLimits maxAllowedContentLength="4294967295" maxUrl="4294967295" maxQueryString="4294967295" />
				</requestFiltering>
			</security>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\\NPComplet.YourDeals.Server.Api.Blazor.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\\logs\\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>