   <!-- About Company -->
<div class="section-full bg-white content-inner-1" style="background-image: url(images/bg-img.png); background-repeat: repeat-x; background-position: left bottom -37px;">
    <div class="container">
        <div class="text-center mb-4">
            <h2 class="about-title text-uppercase m-t0 m-b10">Why Choose Us</h2>
            <div class="about-line"></div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-lg-5 about-img">
                <img src="images/about/negotation.jpg" alt="" />
            </div>
            <div class="col-lg-7 about-contant">
                <div class="m-b20">
                    <h2 class="text-uppercase m-t0 m-b10">
                        <i class="fa fa-arrow-circle-right"></i>
                        Reason One
                    </h2>

                    <div class="clear"></div>
                </div>
                <p class="m-b30">There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing..</p>
                <div class="m-b20">
                    <h2 class="text-uppercase m-t0 m-b10">
                        <i class="fa fa-arrow-circle-right "></i>
                        Reason two
                    </h2>

                    <div class="clear"></div>
                </div>
                <p class="m-b15">There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>
                <div class="m-b20">
                    <h2 class="text-uppercase m-t0 m-b10">
                        <i class="fa fa-arrow-circle-right "></i>
                        Reason three
                    </h2>

                    <div class="clear"></div>
                </div>
                <p class="m-b15">There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>
                <a href="#" class="site-button">Read More</a>
            </div>

        </div>
    </div>
</div>
<!-- About Company END -->