 <!-- Latest deals -->

<div class="section-full content-inner">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="text-uppercase">Deals</h2>
            <div class="about-line"></div>
        </div>
        <div class="section-content ">
            <div class="blog-carousel owl-carousel owl-none">
                <div class="item">
                    <div class="blog-post latest-blog-1 date-style-3 skew-date">
                        <div class="dlab-post-media dlab-img-effect zoom-slow">
                            <a href="javascript:;"><img src="images/product/prod1%20(1).jpg" alt=""></a>
                        </div>
                        <div class="dlab-post-info p-t20">
                            <div class="dlab-post-title ">
                                <h3 class="post-title"><a href="javascript:;">Title of Deal</a></h3>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="blog-post latest-blog-1 date-style-3 skew-date">
                        <div class="dlab-post-media dlab-img-effect zoom-slow">
                            <a href="javascript:;"><img src="images/product/prod1%20(2).jpg" alt=""></a>
                        </div>
                        <div class="dlab-post-info p-t20">
                            <div class="dlab-post-title ">
                                <h3 class="post-title"><a href="javascript:;">Title of Deal</a></h3>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="blog-post latest-blog-1 date-style-3 skew-date">
                        <div class="dlab-post-media dlab-img-effect zoom-slow">
                            <a href="javascript:;"><img src="images/product/prod1%20(3).jpg" alt=""></a>
                        </div>
                        <div class="dlab-post-info p-t20">
                            <div class="dlab-post-title ">
                                <h3 class="post-title"><a href="javascript:;">Title of Deal</a></h3>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Latest blog END -->
