 <!-- OUR SERVICES -->
<div class="section-full bg-Map content-inner">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="text-uppercase about-title"> OUR SERVICES</h2>
            <div class="about-line"></div>
            <p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40">
                    <div class="icon-bx-sm bg-secondry m-b20">
                        <span class="icon-cell">
                            <img class="" src="images/our-services/service%20(1).png">
                        </span>
                    </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte text-uppercase">Service One</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40">
                    <div class="icon-bx-sm bg-secondry m-b20">
                        <span class="icon-cell">
                            <img class="" src="images/our-services/service%20(2).png">
                        </span>
                    </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte text-uppercase">Service Two</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40">
                    <div class="icon-bx-sm bg-secondry m-b20">
                        <span class="icon-cell">
                            <img class="" src="images/our-services/service%20(3).png">
                        </span>
                    </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte text-uppercase">Service Three</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40">
                    <div class="icon-bx-sm bg-secondry m-b20">
                        <span class="icon-cell">
                            <img class="" src="images/our-services/service%20(4).png">
                        </span>
                    </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte text-uppercase">Service Four</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40">
                    <div class="icon-bx-sm bg-secondry m-b20">
                        <span class="icon-cell">
                            <img class="" src="images/our-services/service%20(5).png">
                        </span>
                    </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte text-uppercase">Service Five</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b10">
                    <div class="icon-bx-sm bg-secondry m-b20">
                        <span class="icon-cell">
                            <img class="" src="images/our-services/service%20(6).png">
                        </span>
                    </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte text-uppercase">Service Six</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- OUR SERVICES END-->