@using Microsoft.AspNetCore.WebUtilities
@using NPComplet.YourDeals.Client.Shared.ViewModels.Identity
@inherits MvvmBlazor.Components.MvvmComponentBase<LoginVM>;

<li><a @onclick="BindingContext.FacebookJWT" class="fa fa-facebook  fb-btn" ></a></li>
