@inject IStringLocalizer<Translation> Localize
 <!-- Footer -->
<footer class="site-footer" style=" position: relative;">

    <!-- footer top part -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
                    <div class="widget widget_about">
                        <div class="logo-footer"><img src="images/logoLogin.png" alt=""></div>
                        <p><strong>XDeals</strong> ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore agna aliquam erat . wisi enim ad minim veniam, quis tation. sit amet, consec tetuer.ipsum dolor sit amet, consectetuer.</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
                    <div class="widget recent-posts-entry">
                        <h4 class="m-b15 text-uppercase">Recent Deals</h4>
                        <div class="dlab-separator-outer m-b10">
                            <div class="dlab-separator bg-white style-skew"></div>
                        </div>
                        <div class="widget-post-bx">
                            <div class="widget-post clearfix">
                                <div class="dlab-post-media"> <img src="images/product/prod1%20(1).jpg" alt="" width="200" height="143"> </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-header">
                                        <h6 class="post-title text-uppercase"><a href="">Title of Deal</a></h6>
                                    </div>
                                    <div class="dlab-post-meta">
                                        <ul>
                                            <li class="post-author">By <a href="#">User Name</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-post clearfix">
                                <div class="dlab-post-media"> <img src="images/product/prod1%20(2).jpg" alt="" width="200" height="160"> </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-header">
                                        <h6 class="post-title text-uppercase"><a href="">Title of Deal</a></h6>
                                    </div>
                                    <div class="dlab-post-meta">
                                        <ul>
                                            <li class="post-author">By <a href="#">User Name</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-post clearfix">
                                <div class="dlab-post-media"> <img src="images/product/prod1%20(3).jpg" alt="" width="200" height="160"> </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-header">
                                        <h6 class="post-title  text-uppercase"><a href="">Title of Deal</a></h6>
                                    </div>
                                    <div class="dlab-post-meta">
                                        <ul>
                                            <li class="post-author">By <a href="#">User Name</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
                    <div class="widget widget_services">
                        <h4 class="m-b15 text-uppercase">Our services</h4>
                        <div class="dlab-separator-outer m-b10">
                            <div class="dlab-separator bg-white style-skew"></div>
                        </div>
                        <ul>
                            <li><a href="">Service One</a></li>
                            <li><a href="">Service Two</a></li>
                            <li><a href="">Service Three</a></li>
                            <li><a href="">Service Four</a></li>
                            <li><a href="">Service Five</a></li>
                            <li><a href="">Service Six</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
                    <div class="widget widget_getintuch">
                        <h4 class="m-b15 text-uppercase">Contact us</h4>
                        <div class="dlab-separator-outer m-b10">
                            <div class="dlab-separator bg-white style-skew"></div>
                        </div>
                        <ul>
                            <li><i class="ti-mobile"></i><strong>phone</strong>0800-123456 (24/7 Support Line)</li>
                            <li><i class="ti-printer"></i><strong>FAX</strong>(123) 123-4567</li>
                            <li><i class="ti-email"></i><strong>email</strong>info@XDeal.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom footer-line">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-left">

                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <span> <span>© Copyright 2021</span>  RightNDeals </span>
                </div>
                <div class="col-lg-4 col-md-4 text-right">

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END-->

@code {
}