.topbar-wrapper img[alt="Swagger UI"], .topbar-wrapper span { visibility: hidden; }

.topbar-wrapper .link:after {
    color: #fff;
    content: 'YourDeals API';
    display: block;
    padding: 15px;
    position: absolute;
    visibility: visible;
}

.swagger-ui .topbar .download-url-wrapper .select-label select { border-color: #EF1C25; }

.swagger-ui .info .title small:last-child { background-color: #EF1C25 !important; }